<%- include("templates/encabezado") %>
<%- include("templates/menu") %>

<h2 class="text-center">Todas las películas</h2>
<div id="carouselTodasPeliculas" class="carousel slide" style="width: 30%; margin: auto;">
  <div class="carousel-inner">
    <% firstSlide = true; %>
    <% peliculas.forEach((pelicula, index) => { %>
      <div class="carousel-item <%= firstSlide ? 'active' : '' %>">
        <a href="/pelicula/<%= pelicula.id %>">
          <img height="400px" src="/images/<%= pelicula.foto %>?v=<%= Date.now() %>" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>
            <%= pelicula.titulo %>
          </h3>
        </div>
      </div>
      <% firstSlide = false; %>
    <% }) %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTodasPeliculas"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselTodasPeliculas"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="separation"></div>

<h2 class="text-center">Películas de fantasía</h2>
<div id="carouselFantasia" class="carousel slide" style="width: 30%; margin: auto;">
  <div class="carousel-inner">
    <% firstSlideFantasia = true; %>
    <% peliculas.filter(pelicula => pelicula.genero.includes('fantasia')).forEach((pelicula, index) => { %>
      <div class="carousel-item <%= firstSlideFantasia ? 'active' : '' %>">
        <a href="/pelicula/<%= pelicula.id %>">
          <img height="400px" src="/images/<%= pelicula.foto %>?v=<%= Date.now() %>" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>
            <%= pelicula.titulo %>
          </h3>
        </div>
      </div>
      <% firstSlideFantasia = false; %>
    <% }) %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselFantasia"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselFantasia"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="separation"></div>

<h2 class="text-center">Películas de accion</h2>
<div id="carouselAccion" class="carousel slide" style="width: 30%; margin: auto;">
  <div class="carousel-inner">
    <% firstSlideAccion = true; %>
    <% peliculas.filter(pelicula => pelicula.genero.includes('accion')).forEach((pelicula, index) => { %>
      <div class="carousel-item <%= firstSlideAccion ? 'active' : '' %>">
        <a href="/pelicula/<%= pelicula.id %>">
          <img height="400px" src="/images/<%= pelicula.foto %>?v=<%= Date.now() %>" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>
            <%= pelicula.titulo %>
          </h5>
        </div>
      </div>
      <% firstSlideAccion = false; %>
    <% }) %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccion"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselAccion"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<%- include("templates/pie") %>
